.display {
    height: 70px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.classForMax {
    color: red;
    font-size: 300%;
    font-weight: bold;
}

.classForError {
    color: red;
    font-size: 150%;
    font-weight: bold;
}

.normalDisplay {
    font-size: 300%;
    color:mediumblue;
}

.normalText {
    font-size: 150%;
    color:mediumblue;
}
